.v-slide-btn {
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: rgba($color: #000, $alpha: 0.6);
  border: none;
  top: 50%;
  transform: translateY(-50%);
  outline: none;
  cursor: pointer;
  z-index: 10;

  .v-slide-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &.prev {
    left: 2rem;
    font-size: 3rem;

    .v-slide-icon {
      margin-right: 0.25rem;
    }
  }
  &.next {
    right: 2rem;
    font-size: 3rem;
    .v-slide-icon {
      margin-left: 0.25rem;
    }
  }

  svg {
    fill: #1e90ff;
  }
}

.slots-wrapper {
  display: none;
}

.slides-container {
  height: 100%;
  position: relative;
}

.slides-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  height: 100%;
  width: 100%;
  position: relative;
  outline: none;
  margin: 0;
  padding: 0;

  li {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    padding: 0.75rem;
    height: 100%;

    div {
      height: 100%;
    }
  }

  &.isPreviewPaneOpen {
    animation: minimize-slide .5s linear;
  }
  &.isPreviewPaneClosed {
    animation: maximize-slide .5s linear;
  }
}

.slide-progress-container {
  margin: 1rem 0;
}

.slider-control-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.show-enter-active {
  animation: show 0.3s linear;
}

.show-leave-active {
  animation: hide 0.3s linear;
}

@keyframes minimize-slide {
  0% {
    height: 100%;
    // transform: scale(1);
  }
  100% {
    height: calc(100%-14rem);
  }
}
@keyframes maximize-slide {
  100% {
    height: 100%;
  }
  0% {
    height: calc(100%-14rem);
  }
}

@keyframes show {
  0% {
    height: 0;
  }
  100% {
    height: 14rem;
  }
}

@keyframes hide {
  0% {
    height: 14rem;
  }
  100% {
    height: 0;
  }
}

.slide-control-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px 4px rgba(0,0,0,0.1);
  padding: .5rem;

  .slider-bubble-progress-container {
    margin-left: auto;
    margin-right: auto;
  }
}

.slider-preview-pane-container {
  width: 100%;
  height: 14rem;
  overflow: hidden;
  bottom: 1rem;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .3rem;
}

.slides-main-container {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #fff;

  border: 1px solid #d8d8d8;
  box-shadow: 0 0 6px 2px rgba($color: #000, $alpha: 0.1);
  border-radius: 0.25rem;
}
