@import './palette';

.slide-progress-wrapper {
  background: #e2e2e2;
  border-radius: .2rem;
  height: .25rem;
  width: 100%;

  span {
    background: $blue;
    border-radius: .2rem;
    display: block;
    height: 100%;
    transition: width .65s ease-in-out;
  }
}
