@import './palette';

.v-slideshow-controls {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;

  button {
    background: none;
    border: 0;
    cursor: pointer;
    outline: none;
  }
}
