@import './palette';

.slider-control-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;

  .slider-control-bubble {
    background: #e2e2e2;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: .75rem;
    margin: 1rem;
    transition: transform .2s ease-in-out;
    width: .75rem;

    &.active {
      background: $blue;
      transform: scale(1.25);
    }
  }
}
