@import './palette';

$slide-btn-bg: rgba($color: #000, $alpha: .6);
$control-bar-shadow: 0 0 10px 4px rgba(0, 0, 0, .1);
$container-shadow: 0 0 6px 2px rgba($color: #000, $alpha: .1);

.v-slide-btn {
  background: $slide-btn-bg;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 4rem;
  outline: none;
  position: absolute;
  top: 45%;
  transform: translateY(-45%);
  width: 4rem;
  z-index: 10;

  .v-slide-icon {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
  }

  &.prev {
    font-size: 3rem;
    left: 2rem;

    .v-slide-icon {
      margin-right: .25rem;
    }
  }

  &.next {
    font-size: 3rem;
    right: 2rem;

    .v-slide-icon {
      margin-left: .25rem;
    }
  }

  svg {
    fill: $blue;
  }
}

.slots-wrapper {
  display: none;
}

.slides-container {
  height: 100%;
  position: relative;
}

.slides-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0;
  position: relative;
  width: 100%;

  li {
    height: 100%;
    left: 0;
    padding: .75rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    div {
      background: $black;
      height: 100%;
    }
  }

  &.isPreviewPaneOpen {
    animation: minimize-slide .4s linear;
    height: calc(100%-10rem);
  }

  &.isPreviewPaneClosed {
    animation: maximize-slide .4s linear;
    height: 100%;
  }
}

.slide-progress-container {
  margin: 1rem 0;
}

.slider-control-container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.show-enter-active {
  animation: show .3s linear;
}

.show-leave-active {
  animation: hide .3s linear;
}

@keyframes minimize-slide {
  0% {
    height: 100%;
    // transform: scale(1);
  }

  100% {
    height: calc(100%-10rem);
  }
}
@keyframes maximize-slide {
  100% {
    height: 100%;
  }

  0% {
    height: calc(100%-10rem);
  }
}

@keyframes show {
  0% {
    height: 0;
  }

  100% {
    height: 10rem;
  }
}

@keyframes hide {
  0% {
    height: 10rem;
  }

  100% {
    height: 0;
  }
}

.slide-control-bar {
  align-items: center;
  background: $white;
  border-radius: 4px;
  box-shadow: $control-bar-shadow;
  display: flex;
  height: 5%;
  justify-content: center;
  padding: .5rem;

  .slider-bubble-progress-container {
    margin-left: auto;
    margin-right: auto;
  }
}

.slider-preview-pane-container {
  align-items: center;
  border-radius: .3rem;
  bottom: 1rem;
  display: flex;
  height: 10rem;
  justify-content: center;
  margin-top: 1rem;
  overflow: hidden;
  width: 100%;
  z-index: 999;
}

.slides-main-container {
  align-items: center;
  background: $white;
  border: 1px solid $d2-gray;
  border-radius: .25rem;
  box-shadow: $container-shadow;
  display: flex;
  flex-direction: column;
  height: 90%;
  position: relative;
  width: 100%;

  header {
    height: 1rem;
  }

  footer {
    height: 1rem;
  }
}
