@import './common';

.router-container {
  @include width;
}

.app-header {
  @include width;
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  justify-content: center;
  margin: 0;

  .header {
    margin: 2rem 0;
    text-shadow: 1px 1px 1px #464646;
    white-space: nowrap;
  }
}

#app {
  align-items: center;
  background: linear-gradient(to right, #b6fbff, #83a4d4);
  color: #2c3e50;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  justify-content: flex-start;
  min-height: 2800px;
  // overflow-y: auto;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

.code-previews {
  margin-bottom: 2rem;
}
