@mixin width {
  // width: 60%;
  @media (min-width: 1281px) {
    width: 75%;
  }

  @media screen and (min-width: 1600px), screen and (min-width: 1400px) {
    width: 70%;
  }

  @media screen and (min-width: 1900px) {
    width: 60%;
  }

  @media screen and (min-width: 2560px) {
    width: 50%;
  }

  @media screen and (min-width: 3840px) {
    width: 30%;
  }

  @media (min-width: 1025px) and (max-width: 1280px) {
    width: 75%;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    width: 80%;
  }
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    width: 85%;
  }
}

.router-container {
  @include width;
}

.feature-set {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  width: 60%;
  @media (min-width: 1281px) {
    width: 90%;
  }

  @media screen and (min-width: 1600px), screen and (min-width: 1400px) {
    width: 90%;
  }

  @media screen and (min-width: 1900px) {
    width: 80%;
  }

  @media screen and (min-width: 2560px) {
    width: 65%;
  }

  @media screen and (min-width: 3840px) {
    width: 40%;
  }

  @media (min-width: 1025px) and (max-width: 1280px) {
    width: 90%;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    width: 80%;
  }

  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    width: 95%;
  }
}

.feature-list {
  @media (min-width: 768px) and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 220px);
  }
  // background: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 200px);
  list-style: none;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;

  li {
    align-items: flex-start;
    background: #fff;
    // background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(220,217,249,1) 0%, rgba(172,224,217,1) 89.8% );
    border-radius: 0.2rem;
    box-shadow: 0 0 8px 4px rgba($color: #000, $alpha: .1);
    display: flex;
    margin: 1rem;
    padding: 1rem;

    span {
      font-family: "Montserrat", sans-serif;
      font-size: 1.2rem;
      font-weight: 500;
      text-transform: uppercase;
      white-space: nowrap;
      @media (min-width: 1025px) and (max-width: 1280px),
        (min-width: 768px) and (max-width: 1024px) {
        font-size: 1rem;
      }
    }

    i {
      align-items: center;
      display: flex;
      flex: 1;
      height: 2rem;
      margin-right: 1rem;
      width: 2rem;

      @media (min-width: 1025px) and (max-width: 1280px),
        (min-width: 768px) and (max-width: 1024px) {
        flex: 2;
        height: 1.5rem;
        width: 1.5rem;
      }

      img {
        max-height: 100%;
        max-width: 100%;
      }
    }

    .feature-content {
      align-items: flex-start;
      display: flex;
      flex: 15;
      flex-direction: column;
      justify-content: flex-start;

      p {
        font-size: 1.1rem;
        font-weight: 400;
        text-align: left;
      }
    }
  }
}

.app-header {
  @include width;
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  justify-content: center;
  margin: 0;
  .header {
    margin: 1rem 0;
    text-shadow: 1px 1px 1px #464646;
    white-space: nowrap;
  }
}

.social {
  align-items: center;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  margin: 2rem 0;
  width: 100%;

  a {
    color: #000;
    text-decoration: none;
  }

  div {
    align-items: center;
    display: flex;
    justify-content: center;

    span {
      margin-right: 0.5rem;
    }
  }

  .github {
    fill: #0f52ba;
    margin-right: 2rem;
  }

  .copyrights {
    fill: #e31b23;
  }
}

#app {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  align-items: center;
  background: #83a4d4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #2c3e50;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  justify-content: flex-start;
  min-height: 1600px;
  overflow-y: auto;
  text-align: center;
}

#nav {
  padding: 30px;

  a {
    color: #2c3e50;
    font-weight: bold;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

body {
  margin: 0;
  padding: 0;
}

.code-previews {
  margin-bottom: 2rem;
}
