@mixin width {
  // width: 60%;
  @media (min-width: 1281px) {
    width: 75%;
  }

  @media screen and (min-width: 1600px), screen and (min-width: 1400px) {
    width: 70%;
  }

  @media screen and (min-width: 1900px) {
    width: 60%;
  }

  @media screen and (min-width: 2560px) {
    width: 50%;
  }

  @media screen and (min-width: 3840px) {
    width: 30%;
  }

  @media (min-width: 1025px) and (max-width: 1280px) {
    width: 75%;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    width: 90%;
  }
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    width: 85%;
  }
}